.Country-Container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.Text{
    margin-right: 40px;
}

.flag-container img{
    padding-left: 15px;
    height: 200px;
    width: 200px;
}


@media screen and (max-width: 576px){
   
    .Country-Container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
}

/* tablet or medium device */

@media screen and (min-width: 576px) and (max-width: 960px){
    .Country-Container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}